@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body{
    background-color: #615A5A;
    width: 100vw;
    min-height: 100vh;
    padding: 30px;
}

.blocker {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #FFCE04;
    /* display: none; */
}

.container{
    border: 1px solid red;
    min-height: 600px;
}

.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid lime;
}

.streak {
    display: flex;
    align-items: center;
    color: #FFCE04;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}
.header button {
    cursor: pointer;
    background-color: #FFCE04;
    outline: none;
    border: 0px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 14px ;
    padding: 5px 50px;
    border-radius: 16px;
    color: rgba(0, 0, 0, 0.72);
}
.streak img{
    height: 50px;
    width: auto;
}

.content{
    background-color: rgba(0,0,0,0.4);
    min-height: 450px;
    width: 100%;
    margin-top: 40px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    align-items: center;
    padding: 20px;
}
.content h4{
    color: #FFCE04;
    font-size: 18px;
}

/* .content p{
    
} */