@import url('https://fonts.googleapis.com/css2?family=Concert+One&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #615A5A;
    color: #FFCE04;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    padding: 50px;
}

.container {
    padding: 10px 0;
    width: 250px;
    /* min-height: 500px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
}

h2{
    font-size: 40px;
}

.header-container, .input-container, .bottom-container{
    width: 100%;
}
.header-container {
    display: flex;
    justify-content: center;
}
.bottom-container{
    display: flex;
    justify-content: center;
}

.input{
    margin-top:20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
p{
    padding: 10px 0px;
    font-size: 12px;
}
input{
    padding: 5px 15px;
    color: whitesmoke;
    height: 40px;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.4);
    border: 0px;
    outline: none;
}

button{
    background-color: #FFCE04;
    margin-top: 50px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border-radius: 16px;
    font-family: 'Poppins', 'sans-serif';
    font-weight: 700;
    color: rgba(0,0,0,0.7);
    border: 0px;
}

.loading-container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top:0;
    left: 0;
    width: 100vw;
    background-color: rgba(0,0,0,0.6);
}
.loading {
    color:#FFCE04;
    width: 300px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 32px;
}
.loading p {
    font-size: 25px;
}